.aside {
  position: absolute;
  background-color: #00000050;
  inset: 0 0 0 0;
  z-index: 1;
}

.container {
  background-color: #fff;
  margin-left: 20%;
  min-height: 100vh;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.closeBtn {
  display: flex;
  background-color: transparent;
  cursor: pointer;
}
