.aside {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.container {
  background-color: #fff;
  margin-left: 30%;
  min-height: 100vh;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.closeBtn {
  display: flex;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .aside {
    display: none;
  }
}
