.form {
  font-size: var(--font-size-md);
}

.form > * {
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
}

.form textarea {
  resize: none;
  height: unset;
  padding: 1rem;
}

.form select {
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-color-primary);
}

.form input[type="file"] {
  display: none;
}

.form input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.form input[type="number"] {
  appearance: textfield;
}

.submitBtn {
  width: 100%;
  height: 40px;
  margin-bottom: unset;
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.form input[type="checkbox"] {
  width: 35px;
}

.form textarea:is(:hover, :focus-within) {
  border: 2px solid var(--color-primary);
}

.form select:hover {
  background-color: var(--bg-color-secondary);
}

.submitBtn:disabled {
  cursor: not-allowed;
  background-color: var(--bg-color-secondary);
  color: var(--color-secondary);
}

.submitBtn:not(:disabled):hover {
  background-color: var(--color-primary-hover);
}

.submitBtn:not(:disabled):active {
  background-color: var(--color-primary);
}
