---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Contactanos">
	<section slot="image" class="secondary">
        <img class="img" src="/illustrations/about.svg" alt="">
      </section>
	<section slot="text" class="primary">
        <h2 class="title">Acerca de nosotros</h2>
        
      </section>
</Layout>
