---

import Layout from '../layouts/Layout.astro';
import { ContactUs } from "../features/contact/components";
---

<Layout title="Contactanos">
	<section slot="image" class="secondary">
        <img class="img" src="/contact.svg" alt="">
      </section>
	<section slot="text" class="primary">
        <h2 class="title">Contactanos</h2>
        <ContactUs client:idle />
      </section>
</Layout>
