<footer class="footer">
    <p>© 2023 Izzystem, Corp.</p>
    <ul class="ul">
        <img src="/whatsapp.svg" alt="">
        <img src="/facebook.svg" alt="">
        <img src="/instagram.svg" alt="">
    </ul>
</footer>

<style>
    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        color: var(--text-color-secondary);
        font-size: var(--font-size-md);
        padding: 0 1rem;
    }

    img{
        width: 24px;
        height: 24px;
    }

    .ul{
        display: flex;
        gap: 2rem;
    }

    @media (min-width:1280px) {
        .footer{
            padding: 0 15%;
        }

    }
</style>